<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TargetName</key>
	<string>console</string>
	<key>RenameBootstrapFile</key>
	<true/>
	<key>BootstrapFile</key>
	<string>project</string>
	<key>DebugBootstrapFile</key>
	<string>project-debug</string>
	<key>AppFile</key>
	<string>main.op</string>
</dict>
</plist>
